@import url('@inkbeard/ui-theme/base.css');
@import url('@inkbeard/ui-theme/theme.css');
@import url('@inkbeard/ui-theme/typography.css');

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

@media (width >= 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
